.register-container {
    padding-top: 150px;
    text-align: center;
    background-color: #003580;
}

.register-container h2 {
    color: #fff;
    margin-bottom: 25px;
}

.register-container input{
        border-radius: 5px;
        border: none;
        margin-bottom: 25px;
        font-size: 17px;
        padding: 20px;
}

.register-container input::placeholder{
    text-align: center;
} 

.register-container button {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 120px;
}